html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body,
button {
  background: #fff;
  color: #000;
  font-family: 'Nunito', sans-serif;
}

.container {
  margin: 50px auto;
  padding: 5px;
  max-width: 650px;
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-frame {
  max-width: 350px;
  margin: 0 0 0 0
}

h1 {
  font-weight: 400;
  margin: 0;
}

h2 {
  color: #3581B8;
  font-weight: 300;
  margin: 0 0 0.5em 0;
}

a {
  color: #3581B8;
}

/* a:hover {
  font-weight: bold;
} */
/* .img-frame {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 0 10px 0;
  border-radius: 50%;
  overflow: hidden;
}
.img-frame img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
} */
.img-frame {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 50px 10px 50px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow:
    /* https://brumm.af/shadows
  6
  0.15
  25px
  114px
  0px */
    0 0.7px 3.2px rgba(0, 0, 0, 0.042),
    0 1.7px 7.6px rgba(0, 0, 0, 0.061),
    0 3.1px 14.3px rgba(0, 0, 0, 0.075),
    0 5.6px 25.5px rgba(0, 0, 0, 0.089),
    0 10.4px 47.6px rgba(0, 0, 0, 0.108),
    0 25px 114px rgba(0, 0, 0, 0.15);
}

.img-frame img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
}

::selection {
  background-color: #F18805;
  color: #000;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  /* width: 120px; */
  width: 140px;
  height: 30px;
  border: 2px solid #3581B8;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3581B8;
  font-size: 1rem;
  overflow: auto;
  transition: 0.4s ease all;
  margin: 0 auto;
  box-shadow:
    /* https://brumm.af/shadows
  6
  0.15
  25px
  114px
  0px */
    0 0.7px 3.2px rgba(0, 0, 0, 0.042),
    0 1.7px 7.6px rgba(0, 0, 0, 0.061),
    0 3.1px 14.3px rgba(0, 0, 0, 0.075),
    0 5.6px 25.5px rgba(0, 0, 0, 0.089),
    0 10.4px 47.6px rgba(0, 0, 0, 0.108),
    0 25px 114px rgba(0, 0, 0, 0.15);
}

button:hover {
  background: rgba(150, 151, 156, 0.1);
  cursor: pointer;
}

#contactForm {
  display: none;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header-frame {
  max-width: 350px;
}

.links {
  margin: 25px 0;
}

.links a:not(:last-child) {
  padding: 0 16px 0 0;
}

@media (max-width: 600px) {
  .links {
    text-align: center;
  }
}
